@charset "UTF-8";
/* Scss Document */
/*=============================================
 * body
 *=============================================*/
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #1F1F1F;
  background-color: #fff;
  min-width: inherit;
  min-height: inherit;
  font-weight: 400;
  font-style: normal;
}
.fnt-cormorant-garamond{
  font-family: 'Cormorant Garamond', serif;
}
.fnt-sawarabi-mincho{
  font-family: 'Sawarabi Mincho', serif;
}
/*=============================================
 ******************* main **********************
 *=============================================*/
main {
  clear: both;
  width: 100%;
  position: relative;
}
body {
  overflow-x: hidden;
}
.wrap {
  margin: 0 auto;
  width: 1200px;
  position: relative;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 20%, 0);
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInUp {
  0% {
    -webkit-transform: translate3d(0, 20%, 0);
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translate3d(20px,0,0);
    opacity: 0;
    transform: translate3d(20px,0,0);
  }
  to {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInRight {
  0% {
    -webkit-transform: translate3d(20px,0,0);
    opacity: 0;
    transform: translate3d(20px,0,0);
  }
  to {
    -webkit-transform: translateZ(0);
    opacity: 1;
    transform: translateZ(0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
/*=============================================
 ******************* nav-fixed ****************
 *=============================================*/
header .toggle-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 15px;
  height: 15px;
  align-items: center;
  margin: 0 auto;
  padding: 24px 10px 11px 25px;
}
.menu-open header .toggle-button:after {
  content: '';
}
header .toggle-button .button {
  height: 2px;
  width: 15px;
  background-color: #272727;
  position: relative;
  -webkit-transition: all 0ms .2s;
  transition: all 0ms .2s;
  display: block;
  border-radius: 2px;
}
header .toggle-button .button:before {
  content: "";
  position: absolute;
  left: -50%;
  width: 150%;
  height: 100%;
  top: 7px;
  background: #272727;
  border-radius: 2px;
  -webkit-transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}
header .toggle-button .button:after {
  content: "";
  position: absolute;
  left: -70%;
  width: 170%;
  height: 100%;
  bottom: 7px;
  background: #272727;
  border-radius: 2px;
  -webkit-transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}
header .toggle-button.active {
  background: transparent;
  width: 30px;
  padding: 24px 10px 11px 10px;
}
header .toggle-button.active .button {
  background: transparent;
  width: 30px;
}
header .toggle-button.active .button:before {
  top: 0;
  left: 0;
  width: 100%;
  transform: rotate(45deg);
  transition: top 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}
header .toggle-button.active .button:after {
  bottom: 0;
  left: 0;
  width: 100%;
  transform: rotate(-45deg);
  transition: bottom 0.2s cubic-bezier(0.23, 1, 0.32, 1), transform 0.2s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}
header .toggle-button.active .close {
  transition-delay: .3s;
  opacity: 1;
}
header .nav-fixed {
  position: relative;
  top: 0;
  left: 0;
  transition: .5s all;
  width: 100%;
  z-index: 2;
  background: #fff;
  text-align: center;
  padding: 40px 0 28px 0;
	min-height: 20px;
}
header .nav-fixed.fixed {
  position: fixed;
}
header{
  z-index: 9;
}
header .header{
  max-width: 1388px;
  margin: 0 auto;
  justify-content: space-between;
}
header #key{
  max-width: 1388px;
  margin: 0 auto;
  background: url("../img/top/key.jpg")no-repeat center top;
  background-size: cover;
  height: 690px;
}
header .nav {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.16em;
  font-weight: bold;
  margin: auto 0;
}

header .nav li {
  margin: 0 32px 0 0;
  display: inline-block;
}

header .nav li:hover {
  opacity: 0.6;
}

header .nav li:hover a {
  text-decoration: none;
}

header .nav .active {
  opacity: 0.6;
}
header .btn-cus{
  width: 200px;
  margin: 0 0 0 12px;
}
.btn-cus{
  border: 1px solid #222;
  position: relative;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 0.1em;
  font-weight: bold;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
}
.btn-cus:before{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 1px;
  background: #222;
  margin: auto 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.btn-cus a{
  display: block;
}
.btn-cus a:hover{
  text-decoration: none;
}
.btn-cus:hover{
  opacity: 0.6;
}
.btn-cus2{
  border-bottom: 1px solid #707070;
  position: relative;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.1em;
  font-weight: bold;
  height: 24px;
  text-transform: uppercase;
  background: url("../img/common/arrow.png")no-repeat center right;
  width: 120px;
  margin: auto 0;
}
.btn-cus2 a:hover{
  text-decoration: none;
}
.btn-cus2:hover{
  opacity: 0.6;
}
.btn-scroll{
  position:absolute;
  bottom: 0;
  right: calc(50% - 670px);
}
footer .set1{
  position: relative;
  color: #fff;
  padding: 72px 0 13px 0;
}
footer .set1:before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: calc(50% - 630px);
  bottom: -60px;
  background: #222;
  z-index: 1;
}
footer .set1 .wrap{
  position: relative;
  z-index: 2;
}
footer .set1 .nav{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
  column-gap: 60px;
  width: 490px;
}
footer .set1 .nav li{
  font-size: 14px;
  line-height: 38px;
  letter-spacing: 0.1em;
  font-weight: bold;
}
footer .set1 .nav li a:hover{
  text-decoration: none;
}
footer .set1 .nav li a span{
  width: 120px;
  display: block;
}
footer .set1 .nav li a span:hover{
  opacity: 0.6;
}
footer .set1 .nav li:nth-child(1) a span{
  width: 80px;
}
footer .set1 .nav li:nth-child(2) a span{
  width: 80px;
}
footer .set1 .nav li:nth-child(2){
  order: 4;
}
footer .set1 .nav li:nth-child(3){
  order: 2;
}
footer .set1 .nav li:nth-child(4){
  order: 5;
}
footer .set1 .nav li:last-child{
  margin: 0;
  order: 3;
}
footer .set2{
  background: #333333;
  color: #fff;
  padding: 90px 0 30px 0;
  position: relative;
}
footer .set2 .btn-cus{
  border:1px solid #fff;
  width: 518px;
  height: 62px;
  line-height: 62px;
  margin: 0 100px 0 0;
  position:absolute;
  top: -172px;
  right: 0;
  z-index: 3;
}
footer .set2 .btn-cus:before{
  background: #fff;
}
footer .set2 .social{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 9px 0 0 72px;
  width: 52px;
  justify-content: space-between;
  line-height: 1;
}
footer .set2 address{
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin: 7px -25px 0 0;
}
@media only screen and (max-width: 1200px) {
  header .nav{
    letter-spacing: 0.1em;
  }
  header .nav li{
    margin: 0 10px 0 0;
  }
  header .btn-cus{
    width: 180px;
    margin: 0 0 0 10px;
  }
  footer .set1 .nav{
    column-gap: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .hamberger-btn {
    position: fixed;
    top: 17px;
    right: 2%;
    width: 50px;
    height: 50px;
    display: block;
    z-index: 201;
    transition: all 0.4s ease;
    overflow: hidden;
  }
  .hamberger-btn::after {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "MENU";
    text-align: center;
    font-size: 10px;
    line-height: 20px;
  }
  .hamberger-btn span {
    width: 35px;
    height: 2px;
    position: absolute;
    top: 35%;
    transform: translate3D(-50%, -50%, 0);
    left: 50%;
    background: #000;
  }
  .hamberger-btn span::before, .hamberger-btn span::after {
    width: 35px;
    height: 2px;
    position: absolute;
    left: 0;
    background: #000;
    content: "";
  }
  .hamberger-btn span::after {
    top: -8px;
  }
  .hamberger-btn span::before {
    top: 8px;
  }
  .nav-header .sub-nav::before {
    display: none;
  }
  .menu-open .hamberger-btn {
    transform: rotate(360deg);
  }
  .menu-open .hamberger-btn span {
    transform: rotate(140deg) translateX(20px);
    top: 5px;
    left: 46%;
  }
  .menu-open .hamberger-btn span::after {
    transform: rotate(-105deg) translateX(0px);
    top: 0;
  }
  .menu-open .hamberger-btn::after {
    content: "CLOSE";
  }
  .menu-open .hamberger-btn span::before {
    opacity: 0;
  }
  .nav-header {
    width: 100%;
    height: 100vh;
    background: #FFF;
    position: fixed;
    top: 0;
    left: -100%;
    transition: left 0.5s ease;
    opacity: 1;
  }
  .menu-open .nav-header {
    left: 0%;
    visibility: visible;
    overflow: auto;
  }
  header .mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 80px;
    z-index: 990;
    background: rgba(26, 17, 12, 0.8);
    opacity: 0;
    -webkit-transition: .5s all;
    transition: .5s all;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
  }
  .menu-open header .mobile-nav {
    background: #fff;
    opacity: 1;
    pointer-events: initial;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    padding: 0 0 80px 0;
  }
}
@media only screen and (max-width: 767px) {
  .fl {
    float: none;
  }
  .fr {
    float: none;
  }
  .df{
    display: block;
  }
  header .nav-fixed {
    position: fixed;
  }
  header #key{
    max-width: 1388px;
    margin: 0 auto;
    background: url("../img/top/key.jpg")no-repeat center top;
    background-size: cover;
    height: auto;
  }
  header .logo{
    background: #fff;
    text-align: left;
  }
  header .logo.fixed{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  header .logo img{
    width: 180px;
    margin: 3%;
  }
  header .nav{
    margin: 35px 0;
  }
  header .nav li {
    margin: 10px 0;
    display: block;
    letter-spacing: 0.16em;
  }
  header .btn-cus {
      width: 50%;
      margin: 0 auto;
  }
  footer .set1{
    padding: 8vw 3% 0 3%;
  }
  footer .set1:before{
    right: 13%;
    bottom: -8vw;
  }
  footer .set1 .nav{
    column-gap: 60px;
    width: 100%;
  }
  footer .set1 .nav li{
    line-height: 28px;
  }
  footer .set1 .nav li a span{
    width: 120px;
    display: block;
  }
  footer .set1 .nav li:nth-child(1) a span{
    width: 80px;
  }
  footer .set1 .nav li:nth-child(2) a span{
    width: 80px;
  }
  footer .set1 .nav li:nth-child(2){
    order: 3;
  }
  footer .set1 .nav li:nth-child(3){
    order: 2;
  }
  footer .set1 .nav li:nth-child(4){
    order: 4;
  }
  footer .set1 .nav li:last-child{
    margin: 0;
    order: 5;
  }
  footer .set2{
    padding: 15vw 0 10vw 0;
  }
  footer .set2 .btn-cus{
    width: 92%;
    height: 70px;
    line-height: 70px;
    margin: 0 auto 10vw auto;
    position:relative;
    top:0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  footer .set2 .btn-cus a {
    line-height: 1.6;
    display: block;
    margin: auto;
    width: 100%;
  }
  footer .set2 .logo{
    width: 180px;
    margin: 0 auto 5vw auto;
  }
  footer .set2 .social{
    margin: 0 auto 5vw auto;
    width: 60px;
  }
  footer .set2 .social li img{
    width: auto;
    height: 26px;
  }
  footer .set2 address{
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}
@media (min-width: 768px) {
  .pc {
    display: block !important;
  }
  .sp {
    display: none !important;
  }
}
/*=============================================
 ******************* footer *******************
 *=============================================*/
/*=============================================
***************** copyright ******************
*=============================================*/
#pagetop {
  cursor: pointer;
  transition: all 0.3s ease;
  position: fixed;
  bottom: 70px;
  right: 30px;
}
#pagetop:hover {
  opacity: 0.9;
}
address span {
  display: block;
}
@media only screen and (max-width: 767px) {
  #pagetop {
    bottom: 40px;
    right: 20px;
    width: 10px;
    z-index: 98;
  }
}
/*=============================================
===============================================
===============================================
*************** css for iphone 5 ************
===============================================
===============================================
*=============================================*/
/* iPhone X */
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

}
/* iPhone XR */
@media only screen and (min-device-width: 414px) and (min-device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
 
}
/* iPhone 11 */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2), @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3), @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  
}
/*=============================================
===============================================
===============================================
***************** css for ie 11 ***************
===============================================
===============================================
*=============================================*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  p.btn img:hover, .btn-over img, .over-img img, img.over, img:not(.btn):not(.non-over), button img {
    transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
  }
  p.bnr img:hover, .bnr-over img, .over-img img, img.over, img:not(.bnr):not(.non-over), button img, p.logo img:hover {
    transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
  }
  header .nav{
    line-height: 44px;
  }
  footer .set1 .nav li{
    margin: 0 60px 0 0;
  }
}
