#sec1{
  margin: 160px 0;
  position: relative;
}
#sec1::before{
  position: absolute;
  content: "";
  background: #EDEDED;
  top: -340px;
  left: 0;
  right: calc(50% + 10px);
  bottom: 260px;
}
#sec1 .photo{
  position: relative;
  z-index: 1;
}
#sec1 .text{
  width: 520px;
  padding: 104px 0 0 120px;
  box-sizing: border-box;
}
#sec1 .text h3{
  font-size: 18px;
  line-height: 56px;
  letter-spacing: 0.08em;
  font-weight: bold;
  color: #222;
  opacity: 0.4;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 3px;
}
#sec1 .text h3::before{
  position:absolute;
  content: "";
  top: 0;
  left: -120px;
  bottom: 0;
  background: #222;
  height: 1px;
  width: 104px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: auto 0;
}
#sec1 .text h2{
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 0.18em;
  font-weight: bold;
  margin-bottom: 34px;
}
#sec2{
  background: url("../img/common/bg2.jpg")repeat center top;
  padding: 130px 0 160px 0;
  margin: 0 0 160px 0;
}
#sec2 h2{
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0.16em;
  font-weight: bold;
  text-align: center;
  margin: 0 0 70px 0;
}
#sec2 h2 span{
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.1em;
  font-weight: normal;
  display: block;
}
#sec2 .df{
  justify-content: space-between;
}
#sec2 .df >*{
  width: 550px;
}
#sec2 .df .row{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 0 37px 0;
}
#sec2 .df .row:before{
  position:absolute;
  content: "";
  background: url("../img/top/news.png")no-repeat left top;
  top: 0;
  left: -10px;
  right: 0;
  bottom: 0;
}
#sec2 .df .row h3{
  font-size: 24px;
  line-height: 70px;
  letter-spacing: 0.1em;
  font-weight: 500;
}
#sec2 .df .blog .row:before{
  background: url("../img/top/blog.png")no-repeat left top;
}
#sec2 .feed .item{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
#sec2 .feed .item + .item{
  margin: 25px 0 0 0;
}
#sec2 .feed .item .photo:hover{
  opacity: 0.8;
}
#sec2 .feed .item .photo{
  width: 120px;
}
#sec2 .feed .item .photo a{
  display: block;
}
#sec2 .feed .item .photo img{
  width: 100%;
}
#sec2 .feed .item .text{
  width: 406px;
}
#sec2 .feed .item .text .date{
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.05em;
  font-weight: bold;
  opacity: 0.5;
  margin-bottom: 8px;
}
#sec2 .feed .item .text .title{
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-bottom: 8px;
}
#sec2 .feed .item .text .desc{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 1200px) {
  #sec1 .photo{
    width: calc(100% - 450px);
  }
  #sec1 .photo img{
    width: 100%;
    height: auto;
  }
  #sec1 .text{
    width: 450px;
    padding: 30px 0 0 50px;
  }
  #sec2 .df >*{
    width: 47%;
  }
  #sec2 .feed .item .photo{
    width: 32%;
  }
  #sec2 .feed .item .photo img{
    width: 100%;
    height: auto;
  }
  #sec2 .feed .item .text{
    width: 63%;
  }
}
@media only screen and (max-width: 767px) {
  #sec1{
    margin: 20vw 0;
  }
  #sec1::before{
    top: -40vw;
    right: 13%;
    bottom: auto;
    height: 100vw;
  }
  #sec1 .photo{
    width: 100%;
  }
  #sec1 .text{
    width: 90%;
    padding: 10vw 0 0 0;
    margin: 0 auto;
  }
  #sec1 .text h3{
    font-size: 5vw;
    line-height: 1.6;
    margin-bottom: 2vw;
  }
  #sec1 .text h3::before{
    left: -9vw;
    width: 6vw;
  }
  #sec1 .text h2{
    font-size: 6.5vw;
    line-height: 1.6;
    margin-bottom: 5vw;
  }
  #sec2{
    padding: 20vw 0 20vw 0;
    margin: 0 0 20vw 0;
  }
  #sec2 h2{
    font-size: 7.5vw;
    line-height: 1.6;
    margin: 0 0 10vw 0;
  }
  #sec2 h2 span{
    font-size: 6vw;
    line-height: 1.6;
  }
  #sec2 .df{
    flex-wrap: wrap;
  }
  #sec2 .df >*{
    width: 100%;
  }
  #sec2 .df .row{
    margin: 0 0 10vw 0;
  }
  #sec2 .df .row:before{
    background-size: 50%;
    left: -2vw;
  }
  #sec2 .df .row h3{
    font-size: 6vw;
    line-height: 12vw;
  }
  #sec2 .df .blog .row:before{
    background-size: 50%;
  }
  #sec2 .feed .item + .item{
    margin: 5w 0 0 0;
  }
  #sec2 .feed .item .photo{
    width: 35%;
  }
  #sec2 .feed .item .text{
    width: 60%;
  }
  #sec2 .feed .item .text .date{
    font-size: 15px;
  }
  #sec2 .feed .item .text .title{
    font-size: 16px;
    line-height: 22px;
  }
  #sec2 .news{
    padding-bottom: 15vw;
  }
  #sec2 .blog{
    padding-top: 15vw;
    border-top: 1px solid rgba(34, 34, 34, 0.4);
  }
}